body{
    font-family: arial;
    background-color: black;
    margin-top: 3%;
  } 
  a{
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding-left: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  h1,h2{
    text-transform: uppercase;

  }
  .todo{
    display: flex;
    align-self: flex-end;
    justify-content: center;
  }
  header{
    background-color: #091fe2;
    width: 15%;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
  }    
  .perfil{
    text-align: center;
    margin-top: 2em;
  }
  .perfil h1{
    font-size: 1.4em;
  }
  .perfil h2{
    font-size: 1em;
  }
  .perfil img {
    width: 10em;
    border-radius: 50%;
  }
  .contacto{
    border-top: 2px solid white;  
  }
  .contacto h2{
    font-size: 1em;
    text-align: center;
  }
  .contacto li{
    margin-bottom: 0.2em;
  }
  .telefono{
    background: url(img/phone.svg) no-repeat;
    background-size: 16px;
    background-position-y: 0.6em;
    padding-top: 10px;
  }
  .email{
    background: url(img/mail.svg) no-repeat;
    background-size: 16px;
    background-position-y: 0.6em;
    padding-top: 10px;
  }
  .localizacion{
    background: url(img/mapita.svg) no-repeat;
    background-size: 16px;
    background-position-y: 0.6em;
    padding-top: 10px;
  }
  .redes{
    border-top: 2px solid white; 
  }
  .redes h2{
    font-size: 1em;
    text-align: center;
  }
  .instagram{
    background: url(img/instagram.svg) no-repeat;
    background-size: 16px;
    background-position-y: 0.6em;
    padding-top: 10px;
  }
  .linkedin{
    background: url(img/linkedin.svg) no-repeat;
    background-size: 16px;
    background-position-y: 0.6em;
    padding-top: 10px;
  }
  .twitter{
    background: url(img/twitter.svg) no-repeat;
    background-size: 16px;
    background-position-y: 0.6em;
    padding-top: 10px;
  }
  main{
    background-color: white;
    padding-right: 2em;
    padding-left: 2em;
  }
  .experiencia h3{
    background: url(img/briefcase.svg) no-repeat;
    background-size: 19px;
    background-position-y: 0.6em;
    padding-top: 10px;
    padding-left: 1.2em;
    color: blue;
  }
  .formacion h3{
    background: url(img/graduation.svg) no-repeat;
    background-size: 25px;
    background-position-y: 0.6em;
    padding-top: 10px;
    padding-left: 1.5em;
    color: blue;
  }
  .hab_con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hab_con article{
    margin-right: 4em;  
  }
  .hab_con ul{
    list-style-type: disc;
    padding-left: 2em;
  }
  .hab h3{
    background: url(img/tools.svg) no-repeat;
    background-size: 19px;
    background-position-y: 0.6em;
    padding-top: 10px;
    padding-left: 1.3em;  
    color: blue;
  }
  .cono h3{
    background: url(img/book.svg) no-repeat;
    background-size: 19px;
    background-position-y: 0.6em;
    padding-top: 10px;
    padding-left: 1.3em;
    color: blue;
  }
  .actualizacion{
    margin-top: -4em;
  }
  .actualizacion h3{
    background: url(img/sync.svg) no-repeat;
    background-size: 19px;
    padding-left: 1.3em;   
    color: blue; 
  }


 


